:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --secondary-txt-cl: #757575;
  --light-txt-cl: #ffffff;
  --dark-logo-cl: #000000;
  --blue-cl: #2196f3;
  --info-txt-cl: rgba(255, 255, 255, 0.6);
  --secondary-form-txt-cl: rgba(117, 117, 117, 0.5);

  /* Background colors */
  --main-background-cl: #ffffff;
  --secondary-background-cl: #2f303a;
  --grey-background-cl: #f5f4fa;
  --shadow-background: rgba(47, 48, 58, 0.4);
  --footer-icon-bcgr: rgba(255, 255, 255, 0.1);
  --modal-backdrop-bcgr: rgba(0, 0, 0, 0.2);
  --card-overlay-bg: rgba(33, 150, 243, 0.9);
  --card-functions-bg: rgba(47, 48, 58, 0.8);

  /* Button colors */
  --dark-blue-cl: #188ce8;
  --gray-icon: #afb1b8;

  /* Border colors */
  --header-brdr-cl: #ececec;
  --cards-brdr-cl: #eeeeee;
  --modal-btn-brdr: rgba(0, 0, 0, 0.1);
  --modal-form-brdr: rgba(33, 33, 33, 0.2);

  /* Animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // Others
  --gap: 30px;
}
