.function {
  @media screen and (max-width: 1199.5px) {
    display: none;
  }
  padding-bottom: 94px;
}

.function__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.function__list {
  display: flex;
  gap: 30px;
}

.function__thumb {
  position: relative;
}

.function__txt-box {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--card-functions-bg);
}

.function__txt {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}
