.team {
  @include section(60px, 60px, var(--grey-background-cl));

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px, null);
  }
}

.team__title {
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

.team__list {
  @include list(center, center, null, wrap, flex, var(--gap));
}

.team__item {
  text-align: center;
  background-color: var(--main-background-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__info {
  padding: 30px 30px 24px 30px;

  @media screen and (min-width: 1200px) {
    padding: 30px;
  }
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.team__profession {
  margin-bottom: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--main-background-cl);
  border-radius: 50%;

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--blue-cl);
  }

  &:hover .socials__icon,
  &:focus .socials__icon {
    fill: var(--main-background-cl);
  }
}

.socials__icon {
  fill: var(--gray-icon);

  transition: fill var(--animation);
}
